
 <div class="sidebar round">
      </br>
      </br>
      
      <strong>真实姓名</strong> <%= @user.true_name %><br />
      <strong>性别</strong> <%= @user.sex %><br />
      <strong>生日</strong> <%= @user.birthday %><br />
      <strong>情感状况</strong> <%= @user.love_status %><br /> 
      <strong>所在大学</strong> <%= @user.university %><br />        
 	  <strong>入学年份</strong> <%= @user.school_year %><br />
      <strong>常居地</strong> <%= @user.location %><br />
    
    </div>  
    
