  <ul id="tabs">
      <li><a href="#" name="#tab1">新鲜事</a></li>
      <li><a href="#" name="#tab2">帮忙</a></li>
      <li><a href="#" name="#tab3">交易</a></li>
      <li><a href="#" name="#tab4">报告</a></li>    
  </ul>

  <div id="content">
      <div id="tab1">
	    <%= render 'shared/micropost_form' %>
		<%= render 'shared/feed' %>
      </div>
      <div id="tab2">
      	          <h3>全站可见</h3>
         <%= render 'shared/help_form' %>
         <%= render 'shared/feed_help' %>
 
		 
  
      </div>
      <div id="tab3">

      </div>
      <div id="tab4">
              	  <h2>记录自己留学的每篇报告</h2>
          <p>把学习历程分享给后辈!</p>
          <h3>全站可见</h3>

		 <%= render 'shared/report_form' %>
     
      </div>
  </div>
  
  
  <script>
    function resetTabs(){
        $("#content > div").hide(); //Hide all content
        $("#tabs a").attr("id",""); //Reset id's      
    }

    var myUrl = window.location.href; //get URL
    var myUrlTab = myUrl.substring(myUrl.indexOf("#")); // For localhost/tabs.html#tab2, myUrlTab = #tab2     
    var myUrlTabName = myUrlTab.substring(0,4); // For the above example, myUrlTabName = #tab

    (function(){
        $("#content > div").hide(); // Initially hide all content
        $("#tabs li:first a").attr("id","current"); // Activate first tab
        $("#content > div:first").fadeIn(); // Show first tab content
        
        $("#tabs a").on("click",function(e) {
            e.preventDefault();
            if ($(this).attr("id") == "current"){ //detection for current tab
             return       
            }
            else{             
            resetTabs();
            $(this).attr("id","current"); // Activate this
            $($(this).attr('name')).fadeIn(); // Show content for current tab
            }
        });

        for (i = 1; i <= $("#tabs li").length; i++) {
          if (myUrlTab == myUrlTabName + i) {
              resetTabs();
              $("a[name='"+myUrlTab+"']").attr("id","current"); // Activate url tab
              $(myUrlTab).fadeIn(); // Show url tab content        
          }
        }
    })()
  </script>